@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin scrollbar-style {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: $c-gray-d9;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: darken($c-gray-d9, 5);
  }
}