@use 'abstracts/index' as *;
@import "layout/grid";

html,
body {
  color: #000;
  //background-color: $c-white-ff;
  font-family: Inter, sans-serif;
  line-height: normal;
  font-weight: 400;
  scroll-behavior: smooth;
}

.cm-editor {
  border: 1px solid #ccc;
  height: auto !important;
  min-height: 30px !important;
  padding: 10px ;
  border-radius: 4px;
}

.cm-tag-widget {
  display: inline-block !important;
  vertical-align: middle !important;
  margin: 0 2px !important;
}
.cm-tag {
  display: inline-block !important;
  vertical-align: middle !important;
  margin: 0 2px !important;
}

.cm-placeholder {
  background: red !important;
  color:

          #dfdfff !important;
}

.cm-scroller {
  overflow: visible !important;
}




.cm-gutters {
  display: none !important;
}

.cm-focused {
  outline: none !important;
}

.cm-activeLine {
  background: none !important;
}
